In [4]:
import pandas as pd
import os
from openpyxl import load_workbook
from openpyxl.styles import Font, PatternFill, Alignment, NamedStyle
from openpyxl.utils import get_column_letter

# Test the function
Served_Invoice = "Served Invoice"

# Define paths
export_path = r"C:\Users\User\Downloads\COB DATA\2025\12.December\12.13.25"
os.makedirs(export_path, exist_ok=True)

# Define import path
imp_Erika = r"C:\Users\User\OneDrive\Kimberlin Enterprises\Shared Public Folder\OFFICE FILE\SALES ORDER STATUS\ERIKA\WRONG C.I. MONITORING\CY2025 WRONG C.I. MONITORING DECEMBER.xlsx"
imp_Kath = r"C:\Users\User\OneDrive\Kimberlin Enterprises\Shared Public Folder\OFFICE FILE\SALES ORDER STATUS\KATH\WRONG C.I. MONITORING\CY2025 WRONG C.I. MONITORING DECEMBER.xlsx"
imp_Mae = r"C:\Users\User\OneDrive\Kimberlin Enterprises\Shared Public Folder\OFFICE FILE\SALES ORDER STATUS\MARRY MAE\WRONG C.I. MONITORING\CY2025 WRONG C.I. MONITORING DECEMBER.xlsx"
imp_Shaine = r"C:\Users\User\OneDrive\Kimberlin Enterprises\Shared Public Folder\OFFICE FILE\SALES ORDER STATUS\SHAINE\WRONG C.I. MONITORING\CY2025 WRONG C.I. MONITORING DECEMBER.xlsx"

In [5]:
# Load data from Excel files
df_Erika = pd.read_excel(imp_Erika, skiprows=4)
df_Erika = df_Erika.drop(index=0)  # Drop the first row
df_Kath = pd.read_excel(imp_Kath, skiprows=4)
df_Kath = df_Kath.drop(index=0)  # Drop the first row
df_Mae = pd.read_excel(imp_Mae, skiprows=4)
df_Mae = df_Mae.drop(index=0)  # Drop the first row
df_Shaine = pd.read_excel(imp_Shaine, skiprows=4)
df_Shaine = df_Shaine.drop(index=0)  # Drop the first row

# Combine dataframes
df_combined = pd.concat([df_Erika, df_Kath, df_Mae, df_Shaine], ignore_index=True)

df_combined.head()

# Export combined dataframe to Excel
export_file = os.path.join(export_path, "COMBINED.xlsx")
df_combined.to_excel(export_file, index=False)

In [11]:
df_Mae_disp = df_Mae.copy()
df_Mae_disp = df_Mae_disp[df_Mae_disp['Unnamed: 8'] == 'DUPLICATE']
df_Mae_disp.head()

,Customer Return Date,Customer Return Number,Product Code,Product Description,UOM,Quantity,Facility,Counter Invoice Number,Unnamed: 8
4,2025-04-12,NaN,30704,DYNAMITE CHOCO TWIN,SubCase,1,B.O.,NaN,DUPLICATE

In [3]:
df_Shaine.head()

Empty DataFrame
Columns: [Customer Return Date, Customer Return Number, Product Code, Product Description, UOM, Quantity, Facility, Counter Invoice Number, Unnamed: 8]
Index: []