In [1]:
import pandas as pd
import os

export_path = r"C:\Users\User\Downloads\COB DATA\2025\10.October\10.4.25\Export"
import_path = r"C:\Users\User\Downloads\COB DATA\2025\10.October\10.4.25\COB\Data"
os.makedirs(export_path, exist_ok=True)

In [2]:
im_filename_pl = "DMS-Price-on.xlsx"
full_im_path_pl = os.path.join(import_path, im_filename_pl)

pl_df = pd.read_excel(full_im_path_pl)

pl_df.head()

c:\Python313\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,product_code,product_description,batch_number,uom_description,facility,Standard_cost,selling_price,maximum_price,buying_price,additional_price,from_date,from_time,thru_date,thru_time,customer_id,customer_name,cust_class,cust_channel,cust_region,country_code
0,8779,MAGIC JUNIOR FLAKES CHEESE 13g x 10 x 30,NaN,Case,NaN,689.81,739.29,739.29,NaN,NaN,06/02/2022,08:00:00,12/31/2029,07:59:59.999,NaN,NaN,NaN,NaN,NaN,NaN
1,8779,MAGIC JUNIOR FLAKES CHEESE 13g x 10 x 30,NaN,Subcase,NaN,22.99,24.64,24.64,NaN,NaN,06/02/2022,08:00:00,12/31/2029,07:59:59.999,NaN,NaN,NaN,NaN,NaN,NaN
2,22RTD2,Bev Brigada & Dealers Seeding Pack (C2 Lemon),NaN,Case,NaN,209.12,230.36,230.36,NaN,NaN,10/27/2022,08:00:00,12/31/2029,07:59:59.999,NaN,NaN,NaN,NaN,NaN,NaN
3,8348,MAGIC CREAMS CHOCOLATE 28g x 11 x 40,NaN,Piece,NaN,3.30,3.54,3.54,NaN,NaN,02/10/2022,08:00:00,12/31/2029,07:59:59.999,NaN,NaN,NaN,NaN,NaN,NaN
4,8348,MAGIC CREAMS CHOCOLATE 28g x 11 x 40,NaN,Case,NaN,1452.91,1557.14,1557.14,NaN,NaN,02/10/2022,08:00:00,12/31/2029,07:59:59.999,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
pl_df2 = pl_df

pl_df2 = pl_df2[['product_code', 'product_description', 'uom_description', 'selling_price', 'cust_class', 'cust_channel']]
pl_df2.insert(4,'with vat', 0)
pl_df2['with vat'] = pl_df2['selling_price'] * 1.12

pl_df_m0 = pl_df2

pl_df_m0 = pl_df_m0[pl_df_m0['cust_class'] != 'BEV Dealer']
pl_df_m0 = pl_df_m0[pl_df_m0['cust_channel'] != 'VAN(EXTRUCK)']

pl_df_m0_f = pl_df_m0.pivot_table(index=['product_code', 'product_description',], columns='uom_description', values='with vat', aggfunc=sum)

pl_df_m0_f.head()

C:\Users\User\AppData\Local\Temp\ipykernel_13672\2119897262.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pl_df2['with vat'] = pl_df2['selling_price'] * 1.12
C:\Users\User\AppData\Local\Temp\ipykernel_13672\2119897262.py:12: FutureWarning: The provided callable <built-in function sum> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  pl_df_m0_f = pl_df_m0.pivot_table(index=['product_code', 'product_description',], columns='uom_description', values='with vat', aggfunc=sum)

,uom_description,Case,Piece,Subcase
product_code,product_description,,,
10509,CHIZ CURLS 55g x 50,915.880,18.3232,NaN
10574,CHIZ CURLS 18g x 100,671.496,6.7200,NaN
11051,CHICHARRON NI MANG JUAN PAOMBONG 90g x18,384.048,21.3360,NaN
11052,CHICHARRON NI MANG JUAN SUKA SILI 90gx18,384.048,21.3360,NaN
11053,CHICHARRON NI MANG JUAN PAOMBONG 26gx80,537.208,6.7200,NaN

In [9]:
pl_df_m0_f_1 = pl_df_m0_f.reset_index()

pl_df_m0_f_1['Case'] = pl_df_m0_f_1['Case'].fillna(0)
pl_df_m0_f_1['Piece'] = pl_df_m0_f_1['Piece'].fillna(0)
pl_df_m0_f_1['Subcase'] = pl_df_m0_f_1['Subcase'].fillna(0)

pl_m0_final = pl_df_m0_f_1[['product_code', 'product_description', 'Case', 'Subcase', 'Piece']]

ex_filename_pl_m0 = "M0 Pricelist.xlsx"
full_path_pl_m0 = os.path.join(export_path, ex_filename_pl_m0)

export_pl_m0 = pl_m0_final
export_pl_m0.to_excel(full_path_pl_m0, index=False)