In [1]:
import pandas as pd
import os

export_path = r"C:\Users\User\Downloads\COB DATA\2025\10.October\10.25.25\Export"
import_path = r"C:\Users\User\Downloads\COB DATA\2025\10.October\10.25.25\COB\Data"
os.makedirs(export_path, exist_ok=True)

In [3]:
#Customer Master List
im_filename_cust = "DMS-Customer-on.xlsx"
full_im_path_cust = os.path.join(import_path, im_filename_cust)

cust_df = pd.read_excel(full_im_path_cust)

cust_df = cust_df[[
    'NEXT_UP_NUMBER',
    'PARTY_CLASSIFICATION_DESCRIPTION',
    'KEY_ACCOUNT',
    'SALES_REP_ID',
    'SALES_REP_NAME',
    'BRANCH_NAME',
    'GEO_LOCATION_HIERARCHYDESCRIPTION',
    'CITY',
    'STATE_PROVINCE',
    'CHANNEL'
]]

cust_df.head()

c:\Python313\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,NEXT_UP_NUMBER,PARTY_CLASSIFICATION_DESCRIPTION,KEY_ACCOUNT,SALES_REP_ID,SALES_REP_NAME,BRANCH_NAME,GEO_LOCATION_HIERARCHYDESCRIPTION,CITY,STATE_PROVINCE,CHANNEL
0,KEAC100046,Sari-sari Stores - B,Sari-Sari Stores,KEA0003,LEXTER ESTACIO .,KEA,DIMASESET,DILASAG,AURORA,BOOK(Booking)
1,KEAC100280,Supermarket - Retailer,Supermarkets,KEA0002,XERNAN SANTOS,KEA,SUCLAYIN,BALER (CAPITAL),AURORA,BOOK(Booking)
2,KEAC100026,Sari-sari Stores - B,Sari-Sari Stores,KEA0003,LEXTER ESTACIO .,KEA,PALEG,DINALUNGAN,AURORA,BOOK(Booking)
3,KEAC100082,Sari-sari Stores - X,Sari-Sari Stores,KEA0004,JOHN MILLENIO MORTEL .,KEA,SUCLAYIN,BALER (CAPITAL),AURORA,VAN(EXTRUCK)
4,KEAC100086,Sari-sari Stores - X,Sari-Sari Stores,KEA0004,JOHN MILLENIO MORTEL .,KEA,ZABALI,BALER (CAPITAL),AURORA,VAN(EXTRUCK)

In [4]:
#INVOICE ON Arrangement

im_filename_inv = "DMS-Invoice-on.xlsx"
full_im_path_inv = os.path.join(import_path, im_filename_inv)

df1 = pd.read_excel(full_im_path_inv)

dfc = df1[['Invoice Date', 'Sold To Customer Number',
'Sold To Customer Name', 'Product Code', 'Product/Item Description',
'Total Item amount with Tax and Discount', 'Invoice Item Type']]
inv = dfc[dfc['Invoice Item Type'] != 'ITM_SALES_TAX']

inv_f = inv
inv_f.insert(6,'BO',0)
inv_f.insert(7,'FG',0)
inv_f['Total Item amount with Tax and Discount'] = inv_f['Total Item amount with Tax and Discount'].fillna(0)
inv_f = inv_f.drop('Invoice Item Type', axis=1)


# ex_filename_inv = "Invoices.xlsx"
# full_path_inv = os.path.join(export_path, ex_filename_inv)

# export_inv = inv_f
# export_inv = export_inv.drop(['BO', 'FG'], axis=1)
# export_inv = export_inv.sort_values(by=['Invoice Date', 'Sold To Customer Number'])
# export_inv.to_excel(full_path_inv, index=False)

c:\Python313\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\User\AppData\Local\Temp\ipykernel_15300\195936716.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  inv_f['Total Item amount with Tax and Discount'] = inv_f['Total Item amount with Tax and Discount'].fillna(0)

In [5]:
#CUSTOMER RETURNS Arrangement

im_filename_ret = "DMS-Customer Returns-on.xlsx"
full_im_path_ret = os.path.join(import_path, im_filename_ret)

df2 = pd.read_excel(full_im_path_ret)

dfc2 = df2[['Customer Return Date', 'Sold To Customer Number', 'Sold To Customer Name', 
'Product Code', 'Product Description', 'Facility Name', 'Estimated Product Return Amount']]
dfc2['Estimated Product Return Amount'].fillna(0, inplace=True)
dfc2.insert(5,'Total Item amount with Tax and Discount', 0)
dfc2.insert(8,'with vat', 0)
dfc2['with vat'] = dfc2['Estimated Product Return Amount'] * 1.12

cust_ret = dfc2.pivot_table(index=['Customer Return Date', 'Sold To Customer Number', 'Sold To Customer Name', 
'Product Code', 'Product Description', 'Total Item amount with Tax and Discount'], columns='Facility Name', values='with vat', aggfunc=sum)

ret_f = cust_ret.reset_index()
ret_f['BO'] = ret_f['BO'].fillna(0)
ret_f['FG'] = ret_f['FG'].fillna(0)

C:\Users\User\AppData\Local\Temp\ipykernel_15300\3676257053.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dfc2['Estimated Product Return Amount'].fillna(0, inplace=True)
C:\Users\User\AppData\Local\Temp\ipykernel_15300\3676257053.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfc2['Estimated Product Return Amount'].fillna(0, inplace=True)
C:\Users\User\AppData\Local\Temp\ipykernel_15300\3676257053.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfc2['with vat'] = dfc2['Estimated Product Return Amount'] * 1.12
C:\Users\User\AppData\Local\Temp\ipykernel_15300\3676257053.py:15: FutureWarning: The provided callable <built-in function sum> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  cust_ret = dfc2.pivot_table(index=['Customer Return Date', 'Sold To Customer Number', 'Sold To Customer Name',

In [6]:
#COMBINE INVOICED AND RETURNS to NET INVOICED

inv_f.rename(columns={
'Invoice Date': 'DATE',
'Sold To Customer Number': 'ACCOUNT CODE',
'Sold To Customer Name': 'ACCOUNT NAME',
'Product Code': 'SKU CODE',
'Product/Item Description': 'SKU NAME',
'Total Item amount with Tax and Discount': 'SERVED INVOICE',
'BO': 'BAD RETURNS',
'FG': 'GOOD RETURNS'
}, inplace=True)

ret_f.rename(columns={
'Customer Return Date': 'DATE',
'Sold To Customer Number': 'ACCOUNT CODE', 
'Sold To Customer Name': 'ACCOUNT NAME',
'Product Code': 'SKU CODE', 
'Product Description': 'SKU NAME',
'Total Item amount with Tax and Discount': 'SERVED INVOICE',
'BO': 'BAD RETURNS',
'FG': 'GOOD RETURNS'
}, inplace=True)

net_inv = pd.concat([inv_f, ret_f], axis=0)

net_inv.head()

# ex_filename_net_inv = "Net_Invoiced.xlsx"
# full_path_net_inv = os.path.join(export_path, ex_filename_net_inv)

# export_net_inv = net_inv
# export_net_inv = export_net_inv.sort_values(by=['DATE', 'ACCOUNT CODE'])
# export_net_inv.to_excel(full_path_net_inv, index=False)

,DATE,ACCOUNT CODE,ACCOUNT NAME,SKU CODE,SKU NAME,SERVED INVOICE,BAD RETURNS,GOOD RETURNS
0,10/18/2025,3115000486,ROSE AFRICA STORE,2759,C2 Green Tea Apple 335mlx24,1153.00,0.0,0.0
2,10/18/2025,3115000486,ROSE AFRICA STORE,6801,C2 SOLO APPLE SW 230ML x 24,599.76,0.0,0.0
4,10/14/2025,3118000313,LAILAS STORE TALUGTUG,55211,NISSIN CUP MINI SEAFOOD 40g x 48,41.93,0.0,0.0
6,10/14/2025,3118000313,LAILAS STORE TALUGTUG,6801,C2 SOLO APPLE SW 230ML x 24,299.88,0.0,0.0
8,10/14/2025,3118000313,LAILAS STORE TALUGTUG,10574,CHIZ CURLS 18g x 100,34.27,0.0,0.0

In [19]:
cml_df = cust_df.rename(columns={
    'NEXT_UP_NUMBER': 'ACCOUNT CODE'
})

net_inv_f = net_inv.merge(cml_df, on='ACCOUNT CODE', how='left')

net_inv_f.head()

,DATE,ACCOUNT CODE,ACCOUNT NAME,SKU CODE,SKU NAME,SERVED INVOICE,BAD RETURNS,GOOD RETURNS,PARTY_CLASSIFICATION_DESCRIPTION,KEY_ACCOUNT,SALES_REP_ID,SALES_REP_NAME,BRANCH_NAME,GEO_LOCATION_HIERARCHYDESCRIPTION,CITY,STATE_PROVINCE,CHANNEL
0,10/18/2025,3115000486,ROSE AFRICA STORE,2759,C2 Green Tea Apple 335mlx24,1153.00,0.0,0.0,Sari-sari Stores - X,Sari-Sari Stores,KNE0015,GERENCE MARTIN .,KNE,SAN RAFAEL,GUIMBA,NUEVA ECIJA,VAN(EXTRUCK)
1,10/18/2025,3115000486,ROSE AFRICA STORE,6801,C2 SOLO APPLE SW 230ML x 24,599.76,0.0,0.0,Sari-sari Stores - X,Sari-Sari Stores,KNE0015,GERENCE MARTIN .,KNE,SAN RAFAEL,GUIMBA,NUEVA ECIJA,VAN(EXTRUCK)
2,10/14/2025,3118000313,LAILAS STORE TALUGTUG,55211,NISSIN CUP MINI SEAFOOD 40g x 48,41.93,0.0,0.0,Sari-sari Stores - X,Sari-Sari Stores,KNE0015,GERENCE MARTIN .,KNE,QUEZON (POB.),TALUGTUG,NUEVA ECIJA,VAN(EXTRUCK)
3,10/14/2025,3118000313,LAILAS STORE TALUGTUG,6801,C2 SOLO APPLE SW 230ML x 24,299.88,0.0,0.0,Sari-sari Stores - X,Sari-Sari Stores,KNE0015,GERENCE MARTIN .,KNE,QUEZON (POB.),TALUGTUG,NUEVA ECIJA,VAN(EXTRUCK)
4,10/14/2025,3118000313,LAILAS STORE TALUGTUG,10574,CHIZ CURLS 18g x 100,34.27,0.0,0.0,Sari-sari Stores - X,Sari-Sari Stores,KNE0015,GERENCE MARTIN .,KNE,QUEZON (POB.),TALUGTUG,NUEVA ECIJA,VAN(EXTRUCK)

In [20]:

ex_filename_net_inv = "Net_Invoiced_sample 2.xlsx"
full_path_net_inv = os.path.join(export_path, ex_filename_net_inv)

export_net_inv = net_inv_f
export_net_inv = export_net_inv.sort_values(by=['DATE', 'ACCOUNT CODE'])
export_net_inv.to_excel(full_path_net_inv, index=False)